body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
    padding-left: 40px;
    color: rgb(0, 255, 191);
}
.boro{
    font-size: 80px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #00ff55;
}
.orange-color{
    
    color: rgba(8, 133, 235, 0.363);
}
.flexible-container{
    display: flex;
    margin-bottom: 40px;
}
.half-width{
    width: 500px;
    padding-left: 10px;
    
}
.half-width img{
    width: 500px;
    padding: 40px 20px;
    border-radius: 45%;
}
.link-button{
    text-decoration:  none;
    background-color: rgb(214, 108, 9);
    background-image: linear-gradient(hsl(0, 100%, 50%) tomato);
    padding: 3px 20px;
    border-radius: 4px;
    color: darkorchid;
    font-weight: 900;

}
.bannar-img{
    background-image: url(images.jpg);
    /* background-repeat: no-repeat; */
     
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.soman-koro{
    width: 50%;
    padding-left: 10%;
    
}
.soman-koro img{
    width: 100%;
    border-radius: 100%
}
/* section{
    display: flex;

} */
.dream-big{
    /* margin: 50px 40px; */
    background-image: url(adf.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.button{
    text-decoration: none;
    background-color: red;
    padding: 5px 15px;
}
.experience-area{
    background-image: url(asdf.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-position: left; */
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 500px;
    padding-left: 10px;
    border-left: 5px solid;

}
#web-dev-experiene{
    border-left: 7px solid;
    border-image: slice;
    border-image:url(  purple blue purple )

}
 footer p{
     text-align: center;
 }